//   =====================================================================================
//   COLOURS
//   =====================================================================================
$primary-colour:          #fdeae5;
$lt-primary-colour:       #fdeae5;
$secondary-colour:        #fdeae5;
$tertiary-colour:         #005daa;

$black:                   #191919;
$white:                   #ffffff;
$red:                     #ef4135;
$green:                   #7abb4d;

$off-white:               #FEF4F2;
$red-dark:                #b33128;

//   =====================================================================================
//   BREAKPOINTS
//   =====================================================================================
$xx-small:                375px;
$x-small:                 500px;
$small:                   768px;
$medium:                  992px;
$large:                   1400px;

//   =====================================================================================
//   FONTS
//   =====================================================================================
$header-font-primary:     'pdu';
$header-font-secondary:   'pacifico';
$body-font-primary:       'chevin';
$body-font-primary-bold:  'chevin';

//   =====================================================================================
//   Profile
//   =====================================================================================
$red-dark:                #b33128;
$border-bottom-blue:      #01a5d5;
$underline-grey:          #9b9b9b;
$pagination-colour:       #4a4a4a;
$border-bottom-grey:      #d8d8d8;
$empty-stamp-background:  #f2f2f2;