.mobile-basket{
  cursor: pointer;

  @include breakpoint($medium){
    cursor: default;
  }
}

#menuBasket{
  padding: 0;
  width: 100%;

  @include breakpoint($small){
    padding-left: 15px;
  }

  @include breakpoint($medium){
    display: block;
    float: left;
    width: 33.3333333333%;
  }
}

.menu-basket__price{
  display: inline-block;
  margin: 0;
  font-size: 18px;

  @include breakpoint($medium){
    font-size: 18px;
  }
}

.menu-basket__icon{
  display: inline-block;
  margin-right: 5px;
  color: $tertiary-colour;

  .not-complete & {
    color: rgba(0,0,0,.4);
  }

  @include breakpoint($medium) {
    display: none;
  }
}

.basket__close-icon{
  position: absolute;
  display: table;
  cursor: pointer;
  right: 0;
  top: 50%;
  height: 40px;
  width: 60px;
  text-align: right;
  @include transform(translateY(-50%));

  i{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    font-size: 22px;
    color: $red;
    padding-right: 15px;

    &:before{
      position: relative;
    }
  }

  @include breakpoint($small){
    right: 0;
  }

  @include breakpoint($medium){
    display: none;
  }
}

.basket__title-wrapper{
  position: relative;
  padding: 10px 15px 10px 15px;
  background-color: $secondary-colour;
  text-align: center;
  border-bottom: 2px solid $black;
}

.basket__title{
  font-family: $header-font-primary;
  font-size: 22px;
  text-transform: uppercase;
  margin: 0;
  color: $black;
}

.basket_item-list{
  padding: 10px 15px 10px 15px;
  margin: 0;

  @include breakpoint($small){
    padding: 10px;
  }

  li{
    padding-top: 10px;
    padding-bottom: 10px;

    &:first-of-type{
      padding-top: 0;
    }

    &:last-of-type{
      border: none;
      padding-bottom: 0;
    }

    @include breakpoint($small){
      &:first-of-type{
        padding-top: 10px;
      }
    }
  }
}

.basket__wrapper{
  background-color: $secondary-colour;

  @include breakpoint($medium){
    border: 2px solid $black;
  }
}

//   =====================================================================================
//   BASKET ITEM STYLES
//   =====================================================================================

.reward-item .basketBody {
  padding-left: 5px !important;

  h4{
    margin: 0;
    margin-bottom: 5px;
    font-family: $header-font-primary;
    font-size: 18px;
    color: $red;
    text-decoration: underline;
    text-transform: uppercase;
  }

  @include breakpoint($medium){
    padding-left: 0px !important;
  }
}

.reward-item__description{
  font-family: $body-font-primary !important;
  font-size: 12px !important;
  color: $black !important;
}

.discount-item .basketAction{
  display: table-cell;
  width: 10%;
  vertical-align: middle;

  i {
    color: $green;
    @include transform(rotate(-10deg));
  }
}

.discount-item .basketBody{
  padding-left: 0 !important;
  width: 60% !important;
}

.discount-item .basketBody,
.reward-item .basketBody
{
  h3{
    font-family: $header-font-primary !important;
    font-size: 16px !important;
    color: $black !important;
    text-transform: uppercase!important;
  }
}

.reward-item .basketAction{
  display: table-cell;
  vertical-align: middle;
  width: 10%;
  i{
    padding-left: 1px;
    font-size: 28px;
    color: $tertiary-colour;
  }
}

.basketEditable,
.basketNonEditable{
  position: relative;
  width: 100%;
  display: table;
  border-bottom: 1px solid $black;
}

.basketEditable .basketAction,
.basketEditable .basketBody,
.basketEditable .basketPrice,
.basketEditable .remove,
.basketNonEditable .basketBody,
.basketNonEditable .basketPrice,
.basketNonEditable .remove{
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.basketNonEditable .remove,
.basketEditable .remove{
  .spinner{
    top: 50%;
    left: inherit;
    margin: 0;
    width: 26px;
    height: 26px;
    margin-top: -14px;
    right: -5px;
    border-top: 3px solid rgba(0,0,0,0.2);
    border-right: 3px solid rgba(0,0,0,0.2);
    border-bottom: 3px solid rgba(0,0,0,0.2);
    border-left: 3px solid $tertiary-colour;
    pointer-events: none;
  }
}

.basketEditable .basketAction {
  width: 10%;
  i{
    color: $black;
    cursor: pointer;
    @include transition(color .2s ease-out);

    &:hover{
      color: $red;
    }
  }
}

.basketEditable .basketBody{
  width: 60%;
}

.basketNonEditable .basketBody{
  width: 70%;
}

.basketEditable .basketBody,
.basketNonEditable .basketBody{

  h3,
  p{
    margin: 0;
  }

  h3{
    font-size: 18px;
    text-transform: uppercase;
    font-family: $header-font-primary;
    color: $red;
  }

  p{
    font-size: 12px;
    font-family: $body-font-primary;
    color: $black;
  }
}

.basketNonEditable .basketBody{
  position: relative;
  padding-left: 10%;

  span{
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 14px;
    text-transform: lowercase;
    @include transform(translateY(-50%));
  }
}

.basketPrice.discounted{
  color: $red;
}

.basketEditable .basketPrice,
.basketNonEditable .basketPrice{
  padding-right: 5px;
  width: 20%;
  font-family: $body-font-primary;
  font-size: 14px;
  text-align: right;
}

.basketEditable .remove,
.basketNonEditable .remove{
  width: 10%;
  text-align: right;

  i{
    font-size: 18px;
    color: $red;
    cursor: pointer;
  }
}

//   =====================================================================================
//   BASKET TOTAL & CHECKOUT BUTTON
//   =====================================================================================
.basket_total-wrapper{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 2px solid $black;
  @include clearfix;

  @include breakpoint($small){
    margin-right: 0;
    margin-left: 0;
  }

  @include breakpoint($medium){
    padding-left: 10px;
    padding-right: 10px;
  }
}

.basket_total-title,
.basket-total{
  font-family: $header-font-primary;
  font-size: 18px;
  text-transform: uppercase;
}

.basket_total-title{
  float: left;
}

.basket-total{
  float: right;
}

.basket__checkout-btn {

  &.flypay-button {
    position: relative;
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    @include appearance(none);

    @include breakpoint($small){
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

    @include breakpoint($medium){
      margin-left: 10px;
      margin-right: 10px;
      font-size: 22px;
      width: calc(100% - 20px);
    }
  }
}

//   =====================================================================================
//   LOYALTY LINK
//   =====================================================================================
.basket__loyalty-wrapper{
  display: table;
  width: calc(100% - 20px);
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 10px;
  border-top:  1px solid $black;
}

.basket__loyalty-btn{
  display: table-cell;
  vertical-align: middle;

  .flypay-button {
    min-width: 100%;
    font-size: 14px;

    @include breakpoint($small){
      font-size: 18px;
    }
  }
}

.basket__loyalty-label{
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding-right: 10px;

  h5,
  p{
    margin: 0;
  }

  h5{
    margin-bottom: 5px;
    font-family: $header-font-secondary;
    font-size: 16px;
    color: $tertiary-colour;
  }

  p{
    font-family: $body-font-primary;
    font-size: 12px;
    color: $red;
  }
}

.basket__loyalty-link{
  margin: 0;
  font-family: $body-font-primary;
  font-size: 14px;
  color: $lt-primary-colour;
  text-align: right;

  [data-logged_in="true"] &{
    text-decoration: underline;
    cursor: pointer;

    &:hover{
      color: $primary-colour;
    }
  }

  a{
    display: inline-block;
    padding: 10px 0;
    font-family: $body-font-primary;
    font-size: 18px;
    color: $black;
    text-decoration: underline;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active{
      outline: none;
      color: inherit;
      text-decoration: none;
    }

    &:hover{
      color: $primary-colour;
      text-decoration: underline;
    }
  }
}

.basket__no-rewards-msg{
  text-align: right;
  margin: 0;
  i{
    color: $red;
  }
}

.basket__loyalty-spinner-wrapper{
  display: table-cell;
  width: 10%;
  vertical-align: middle;

  .spinner{
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    border-top: 3px solid rgba(0,0,0,0.2);
    border-right: 3px solid rgba(0,0,0,0.2);
    border-bottom: 3px solid rgba(0,0,0,0.2);
    border-left: 3px solid $tertiary-colour;

  }
}

.basket__logged-in-wrapper{
  display: table;
  width: 100%;
}

.basket__loyalty-loading-copy{
  display: table-cell;
  width: 90%;
  padding-left: 5px;
  font-size: 14px;
  color: $red;
}

