.menu-body__category-wrapper{
  padding: 15px;

  @include breakpoint($medium){
    padding-top: 0;
  }
}

.menu-body__category-title-wrapper {
  display: table;
  width: 100%;
}

.menu-body__menu-info-button {
  display: table-cell;
  float: right;
  color: $red;
  cursor: pointer;
}

.menu-body__category-title{
  position: relative;
  display: table-cell;
  margin: 0;
  padding-top: 10px;
  width: 70%;
  font-family: $header-font-primary;
  font-size: 36px;
  text-transform: uppercase;
  color: $black;
  border-top: 3px solid $primary-colour;
  border-bottom: 3px solid $primary-colour;

  &:after{
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    height: calc(100% - 4px);
    width: 100%;
    border-top: 1px solid $primary-colour;
    border-bottom: 1px solid $primary-colour;
  }
}

.menu-body__category-desc{
  margin-bottom: 0;
  padding-bottom: 15px;
  font-family: $body-font-primary;
  font-size: 18.75px;
  font-weight: 300;
  line-height: 24px;
  color: $black;
  border-bottom: 1px solid $black;
}

.menu-body__item-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item-heading{
  margin-bottom: 5px;
  padding-right: 30px;

  h3{
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    font-family: $header-font-primary;
    font-size: 23.125px;
    font-weight: 500;
    text-transform: uppercase;
    color: $red;

    @include breakpoint($medium){
      font-size: 22px;
    }
  }

  span{
    font-family: $body-font-primary;
    font-size: 12.5px;
    font-weight: 300;
    color: $red;

    @include breakpoint($medium){
      font-size: 14px;
    }
  }
}

.menuItem{
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid $black;

  &:last-of-type{
    padding-bottom: 0;
    border: none;

    .menuItemQty{
      margin-top: -15px;
    }
  }

  @include breakpoint($medium){
    @include clearfix();
    display: table;
    width: 100%;
    min-height: 80px;
    padding: 20px 0;
  }
}

.disabledMenuItem{
  position: relative;

  .menuItemBody{
    width: 100%;
  }

  *{
    color: rgba(0,0,0,.1) !important;
  }
}

.menuItemSoldOut {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
}

.menuItemBody{
  margin-bottom: 10px;

  .disabledMenuItem &{
    margin-bottom: 0;
  }

  @include breakpoint($medium){
    position: relative;
    display: table-cell;
    width: 80%;
    vertical-align: middle;
  }
}

.menu-info{
  p{
    margin: 0;
    font-family: $body-font-primary;
    font-size: 15.625px;
    font-weight: 300;
    color: $black;
    line-height: 18px;
  }
}

.menuItemAction{

  .spinner{
    top: 5px;
    margin-top: 0;
    margin-left: 0;
    left: initial;
    right: -5px;
    height: 30px;
    width: 30px;
    border-top: 3px solid rgba(0,93,170,1);
    border-right: 3px solid rgba(0,93,170,1);
    border-bottom: 3px solid rgba(0,93,170,1);
    border-left: 3px solid $primary-colour;
    z-index: 0;
  }

  @include breakpoint($medium){
    position: relative;
    display: table-cell;
    width: 20%;
    vertical-align: middle;

    .spinner{
      top: 50%;
      left: initial;
      right: -5px;
      height: 50px;
      width: 50px;
      margin-top: -25px;
      margin-left: 0;
      border-top: 5px solid rgba(0,0,0,0.2);
      border-right: 5px solid rgba(0,0,0,0.2);
      border-bottom: 5px solid rgba(0,0,0,0.2);
      border-left: 5px solid $tertiary-colour;
    }
  }
}

.item-action__add-img{
  display: none;
  padding-bottom: 1px;

  @include breakpoint($medium){
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    cursor: pointer;
    @include transform(translateY(-50%));
  }
}

.menuItemQty{
  position: absolute;
  top: 10px;
  right: 0px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: $black;
  background-color: $primary-colour;
  border: 1px solid $black;
  border-radius: 100%;
  font-size: 12px;
  line-height: 19px;

  @include breakpoint($medium){
    right: -5px;
    z-index: 1;
    top: 50%;
    margin-top: -25px;
  }
}

.menu-item__out-of-stock{
  display: none;
}

.menu-add-btn {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
  font-family: $header-font-primary;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $primary-colour;
  background-color: $red;
  outline: none;
  border: none;
  -webkit-transition: 200ms all linear;
  transition: 200ms all linear;

  &.clicked {
    -webkit-transition: 200ms all linear;
    transition: 200ms all linear;
    background-color: $red-dark;
  }

  &.item-added{
    background-color: $green;
  }

  @include breakpoint($medium){
    display: none;
  }
}

.item-action__add-img-wrapper{
  @include breakpoint($medium){
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.menu-item__sold-out{
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%) rotate(3deg));
}