body{
  background-color: $secondary-colour;
  font-size: 62.5%;
  color: $black;
  font-family: $body-font-primary;
}

//   =====================================================================================
//   UI ELEMENTS
//   =====================================================================================
.flypay-button {
  background-color: $red;
  border: none;
  padding: 10px;
  min-width: 200px;
  font-family: $header-font-primary;
  color: $primary-colour;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;

  &[disabled],
  &.disabled {
    background-color: rgba(0,0,0,.2);
  }
}

.passcode-box{
  width: 35px;
  height: 35px;
  border: 1px solid black;
  text-align: center;
  margin-left: 5px;
  font-size: 1.5rem;
  padding-top: 5px;
  -webkit-text-security: disc;

  &:first-of-type{
    margin-left: 0;
  }

  &.parsley-error{
    border-color: $red;
  }

  &.parsley-success{
    border-color: $green;
  }
}

input,
select,
textarea{
  /*@include placeholder {
    font-family: $body-font-primary;
    font-size: 14px !important;
    padding-top: 2px;
    text-transform: uppercase;
  }*/
}

.flypay-input{
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: $body-font-primary;
  font-size: 18px;
  border: 1px solid $black;

  &.parsley-error{
    border-color: $red;
  }


  &.parsley-success{
    border-color: $green;
  }

  &[disabled]{
    background-color: rgba(0,0,0,.1);
  }
}

.flypay-select
{
  padding: 5px 10px;
  padding-right: 30px;
  border: 1px solid $primary-colour;
  background-color: white;
  border-radius: 0 !important;
  border: 1px solid $black;
  -webkit-appearance: none;
  font-family: $body-font-primary;
  font-size: 14px;
  cursor: pointer;

  &[disabled]{
    background-color: rgba(0,0,0,.2);
  }

  &.error{
    border-color: $red;
  }
}

.flypay-select__wrapper{
  position: relative;
  &:before{
    content: '\f078';
    position: absolute;
    right: 5px;
    top: 50%;
    font-family: 'FontAwesome';
    font-size: 12px;
    color: $black;
    pointer-events: none;
    @include transform(translateY(-50%));
  }
}

label{
  font-weight: normal;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="search"]
{
  @include appearance(none);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

input.cvc-input {
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 5px;
  margin-right: 10px;
  text-align: center;
  font-family: $body-font-primary;
  font-size: 18px;
  border-radius: 4px;
  border: 1px black solid;
  background-color: white;
  -webkit-text-security: disc;
}

.flypay-txtbox{
  width: 100%;
  padding: 10px;
  font-family: $body-font-primary;
  font-size: 14px;
  resize: none;
  border: 1px solid $black;
}

//   =====================================================================================
//   OVERLAY AND SPINNER
//   =====================================================================================
.page-overlay .spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
  border-top: 5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  border-left: 5px solid $lt-primary-colour;
}

//   =====================================================================================
//   SECTION TITLES
//   =====================================================================================
.sectionTitleHolder{
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  border-bottom: 2px solid $black;
}

.sectTitleStep {
  position: relative;
  width: auto;
  float: left;
  padding-left: 15px;
  text-align: left;

  &.complete{
    .section-indicator{
      background-color: $green;
    }
  }

  &.not-complete{
    .section-indicator{
      background-color: rgba(0,0,0,.4);
    }

    h2,
    a{
      color: rgba(0,0,0,.4);

      &:hover,
      &:active,
      &:focus{
        cursor: default;
        text-decoration: none;
      }
    }
  }

  h2{
    display: inline-block;
    margin: 0;
    font-family: $header-font-primary;
    font-size: 17.5px;
  }

  @include breakpoint($small){
    width: auto;

    h2{
      font-size: 18px;
    }
  }
}

.sectTitleStep .spinner{
  position: absolute;
  left: 10px;
  width: 30px;
  height: 30px;
  margin-top: -16px;
  margin-right: 0;
  margin-left: 0;
  border-top: 3px solid rgba(0,93,170,1);
  border-right: 3px solid rgba(0,93,170,1);
  border-bottom: 3px solid rgba(0,93,170,1);
  border-left: 3px solid $primary-colour;
  z-index: 1;
}

.sectTitleAction{
  position: relative;
  display: block !important;
  width: 40%;
  float: right;
  margin: 0;
  padding-right: 15px;
  text-align: right;
  font-size: 18px;
  color: $red;
  text-transform: uppercase;
  font-family: $header-font-primary;
  @include breakpoint($small){
    width: 50%;
    font-size: 18px;
  }
}

.section-indicator{
  display: inline-block;
  margin-right: 5px;
  height: 20px;
  width: 20px;
  line-height: 22px;
  font-size: 14px;
  text-align: center;
  color: $primary-colour;
  background-color: $red;
  font-family: $body-font-primary;
  border-radius: 100%;

  &.complete {
    background-color: $green;
  }

  .fa{
    font-size: 14px;
    color: $secondary-colour;
  }
}

.fa{
  font-size: 22px;
}

.bodyHolder {
  clear: both;
  height: auto;
  border-bottom: 2px solid $black;
  width: 100%;
  display: none;
  padding: 15px;
}

//   =====================================================================================
//   FLYPAY MODAL
//   =====================================================================================
.flypay-modal__wrapper{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 99999;

  &.visible{
    display: block;
  }
}

.flypay-modal{
  position: absolute;
  top: 50%;
  left: 3%;
  width: 92%;
  min-height: 200px;
  background-color: $secondary-colour;
  z-index: 9999;
  overflow: hidden;
  border-radius: 8px;
  opacity: 0;
  @include transform(translateY(-50%));

  .visible &{
    opacity: 1;
  }

  @include breakpoint($small){
    left: 25%;
    width: 50%;
  }

  @include breakpoint($medium){
    left: 30%;
    width: 40%;
  }
}

.flypay-modal__header{
  position: relative;
  padding: 10px;
  border-bottom: 2px solid $black;
  background-color: $primary-colour;
  color: $secondary-colour;
}

.flypay-modal__header-title{
  margin: 0;
  font-family: $header-font-primary;
  font-size: 22px;
}

.flypay-modal__header-close{
  position: absolute;
  right: 10px;
  top: 10px;
}

.flypay-modal__body{
  padding: 10px;
}

.flypay-modal__footer{
  padding: 10px;
  border-top: 2px solid $black;
  background-color: $primary-colour;
}

.flypay-modal__spinner{
  margin-top: -25px !important;
}

//   =====================================================================================
//   ANIMATIONS
//   =====================================================================================
@include keyframes(fade-transition){
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.shake{
  @include x-animation(shake .4s 1 linear);
}

@include keyframes(shake){
  0% { @include transform(translate(15px)) }
  20% { @include transform(translate(-15px)) }
  40% { @include transform(translate(10px)) }
  60% { @include transform(translate(-10px)) }
  80% { @include transform(translate(5px)) }
  100% { @include transform(translate(0px)) }
}

/*
 * Pulse animation
*/
@include keyframes(pulse){
  0%{@include transform(scale(1))}
  50%{@include transform(scale(1.2))}
  100%{@include transform(scale(1))}
}

.pulse {
  @include x-animation(pulse .8s infinite ease-out);
}