.error-modal{
  position: fixed;
  top: 50%;
  left: 2%;
  width: 96%;
  display: none;
  border-radius: 8px;
  background-color: $secondary-colour;
  z-index: 99999;
  overflow: hidden;
  @include transform(translateY(-50%));

  @include breakpoint($small){
    width: 60%;
    left: 20%;
  }

  @include breakpoint($medium){
    width: 50%;
    left: 25%;
  }

  @include breakpoint($large){
    width: 40%;
    left: 30%;
  }
}

.error-modal__title{
  padding: 15px;
  background-color: $primary-colour;
  border-bottom: 2px solid $black;
  h3{
    margin: 0;
    font-family: $header-font-primary;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: $red;

    @include breakpoint($medium){
      font-size: 22px;
    }
  }
}

.error-modal__close{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 18px;
  color: $black;
}

.error-modal__body{
  padding: 30px 15px 30px 15px;

  h2,
  p{
    margin: 0;
    font-family: $body-font-primary;
    text-align: center;
  }

  h2{
    margin-bottom: 10px;
    font-family: $header-font-secondary;
    font-size: 22px;
    color: $red;
  }

  p{
    font-size: 14px;
    color: $black;
  }
}

.error-modal__button{
  padding: 15px;
  text-align: center;
  border-top: 2px solid $black;

  .flypay-button {
    width: 100%;
    font-size: 22px;
    @include appearance(none);

    @include breakpoint($small){
      width: 250px;
    }
  }
}