.signup-form{
  position: relative;
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  @include clearfix();

  .spinner {
    border-left: 5px solid transparent;
    border-top: 5px solid $tertiary-colour;
    border-right: 5px solid $tertiary-colour;
    border-bottom: 5px solid $tertiary-colour;
  }

  @include breakpoint($small){
    margin: 40px auto 15px auto;
    padding: 15px 0;
    padding-top: 0;
    width: 60%;
    border: 1px solid $black;
  }

  @include breakpoint($medium){
    width: 40%;
  }

}

.signup-form__blurb {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-family: $body-font-primary;
  font-size: 14px;
  color: $black;
}

.signup-form__main {
  padding: 15px 0;
  border-bottom: 1px solid $black;
  background-color: $primary-colour;

  @include breakpoint($small) {
    padding: 15px;
  }
}

.signup-form__title{
  margin: 0;
  padding: 15px;
  font-family: $header-font-primary;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  border-bottom: 1px solid $black;
  background-color: $primary-colour;

  @include breakpoint($medium){
    font-size: 28px;
  }
}

.signup-form__name{
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
  text-transform: uppercase;
}

.signup-form__email{
  width: 100%;
  padding-left: 35px;
}

.signup-form__email-wrapper{
  position: relative;
  margin-bottom: 10px;

  label{
    position: absolute;
    left: 5px;
    top: 50%;
    margin: 0;
    @include transform(translateY(-50%) translateY(-1px));

    i {
      color: $black;
    }
  }
}

.signup-form__phone-wrapper{
  position: relative;
  width: 100%;
  @include clearfix();
}

.country-code__wrapper{
  position: relative;
  display: inline-block;
  float: left;
  border: 1px solid $black;
  background-color: white;
  width: 30%;

  &:before{
    content: '\f078';
    position: absolute;
    right: 5px;
    top: 50%;
    font-family: 'FontAwesome';
    font-size: 12px;
    color: $black;
    pointer-events: none;
    @include transform(translateY(-50%));
  }

  label{
    display: none;

    @include breakpoint($small){
      position: absolute;
      left: 5px;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }

  select{
    width: 100%;
    padding: 11px 20px 11px 5px;
    font-family: $body-font-primary;
    font-size: 12px;
    color: $black;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    cursor: pointer;
    z-index: 1;
    @include appearance(none);

    &:focus{
      outline: none;
    }
  }
}

.signup-form__phonenumber{
  display: inline-block;
  float: right;
  width: calc(70% - 10px);
}

.signup-form__passcode-section{
  margin: 0;
  padding: 15px 0;

  @include breakpoint($small) {
    padding: 15px;
  }
}

.signup-form__passcode-blurb{
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;

  .fa{
    margin-right: 10px;
  }
}

.signup-form__passcode-section{
  position: relative;
}

.signup-form__passcode-section .passcode-wrapper{
  display: table;
  width: 100%;
  margin-bottom: 10px;
  @include clearfix();

  h3{
    display: table-cell;
    width: 40%;
    text-align: left;
    font-family: $body-font-primary;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    vertical-align: middle;
    color: $black;
  }

  .passcode-boxes{
    display: table-cell;
    margin-left: 5px;
    float: right;
    vertical-align: middle;
  }
}

.signup-form__checkbox{
  label{
    font-family: $body-font-primary;
    font-size: 12px;
    color: $black;
  }

  input{
    margin-right: 5px;
    font-size: 22px;
    cursor: pointer;
  }
}

.signup-form__btn{
  position: relative;
  margin-bottom: 10px;
  width: 100%;

  @include breakpoint($small){
    width: 250px;
  }
}

.signup-form__checkbox{
  margin-bottom: 10px;
}

.signup-form__powered-by{
  width: 70px;

  @include breakpoint($small) {
    margin-right: 15px;
  }
}

.signup-form__privacy-error{
  margin-bottom: 10px;
  font-family: $body-font-primary;
  font-size: 12px;
  color: $primary-colour;
}

.signup-form__passcode-section .form-errors{
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
  font-family: $body-font-primary;
  font-size: 14px;
  color: $black;
  border: 1px solid $red;
  background-color: $white;

  p {
    margin: 0;
    font-size: 18px;
  }
}

.passcode-conf-error{
  display: none;
  text-align: right;

  p{
    font-family: $body-font-primary;
    font-size: 12px;
    color: $primary-colour;
  }

  @include breakpoint($small){
    text-align: left;
  }
}