.site-title {
  border-bottom: 3px solid $black;
  margin-top: 15px;
  text-align: center;
}

.title-wrapper__title{
  margin: 0;
  font-family: $header-font-primary;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $black;
  @include breakpoint($small){
    font-size: 32px;
  }
}

.title-wrapper{
  position: relative;
  display: block;
  padding-bottom: 10px;
}

.title-wrapper .spinner__wrapper{
  position: absolute;
  right: -40px;
  left: inherit;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  top: 50%;
  opacity: 0;
}