.account-details-section {
  min-height: 240px;

  @include breakpoint($small) {
    display: inline-block;
    float: left;
  }

  .card__default-tick {
    width: 30%;
  }

  .btn-cancel {
    color: $red;
    position: relative;
    top: 0;
    transform: translateY(0);
  }
}

.account-details-section__title {
  color: $red;
  border-bottom: 1px solid $black;

}

.account-details_inner-wrapper {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding: 10px 20px 20px;

  .bs-callout-warning {
      font-size: 16px;
      color: $red;
  }
}

.account-details_h3 {
  font-family: $header-font-primary;
  font-size: 22px;
  text-transform: uppercase;
}

.account-details_user-detail {
  color: $red;
  font-size: 18px;
}

.account-details_marketing-inner-wrapper {
  position: relative;

  @include breakpoint($small) {
    overflow: hidden;
  }
  .custom-checkbox,
  .custom-checkbox_label {
    display: inline-block;
    vertical-align: middle;
  }
  .custom-checkbox {
    margin-right: 5px !important;
    margin-top: 0 !important;
    top: 0;
  }
}

.custom-checkbox_label {
  font-size: 14px;
  line-height: 1.2;
  padding-top: 3px;
  margin-bottom: 0;
  width: 88%;

  @include breakpoint($small) {
    font-size: 13px;
  }
}

.account-details_edit-field {
  display: none;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: $underline-grey;
}

.account-details_btn-wrapper {
  text-align: center;
  margin-top: 20px;
}

.account-details_btn {
  border: none;
  color: $white;
  font-size: 12px;
  padding: 10px 30px;
  span {
    margin-left: 10px;
  }
}

.account-details_edit-btn {
  background-color: $red;

  img {
    width: 12px;
    margin-top: -5px;
  }
}

.account-details_done-btn {
  background-color: $primary-colour;
}

.account-details_submit-btn {
  background-color: $red;
  position: relative;
}

.submit-account-details_spinner {
  width: 25px;
  height: 25px;
  left: 0;
  right: 0;
  margin-top: -13px;
  margin-right: auto;
  margin-left: auto;
  border-top: 4px solid rgba(0,0,0,0.2);
  border-right: 4px solid rgba(0,0,0,0.2);
  border-bottom: 4px solid rgba(0,0,0,0.2);
  border-left:4px solid $white;
}

.account-details_gender-field-wrapper,
.account-details_dob-field-wrapper {

  @include breakpoint($small) {
    display: inline-block;
  }
}

.account-details_gender-field-wrapper {

  @include breakpoint($small) {
    margin-left: 90px;
  }
}

.account-details_update-info-form {

  .account-details_h3 {
    display: block;
  }

  input {
    width: 100%;
    font-size: 14px;
    color: $black;
    border: 1px solid $black;
    padding: 5px 5px;
  }
  .parsley-error{
    border-color: $red;
  }
  .parsley-success{
    border-color: $green;
  }
  .parsley-errors-list {
    list-style: none;
    padding-left: 0;
  }
  .parsley-required,
  .parsley-type {
    font-size: 16px;
    color: $red;
  }
}

.account-details_fieldset {
  margin-top: 10px;
  .flypay-select {
    padding-left: 5px;
    color: $black;
    border: 1px solid $black;
    font-size: 14px;
  }
  .flypay-select__wrapper:before {
    left: 55px;
  }
}

.update-phone_inner-container {
  display: table;
  font-size: 0;
  overflow: hidden;
  table-layout: fixed;
  .flypay-select__wrapper {
    display: table-cell;
  }
  .flypay-select__wrapper:before {
    left: 55px;
  }
}

.flypay-select__wrapper.col,
.phone_input-wrapper {
  display: table-cell;
  overflow: hidden;
}

.phone_input-wrapper.col {
  width: 100%;
}
