.rewards-section {
  display: block;
  margin: 0 auto;
  background-color: $white;
  margin-right: -15px;
  margin-left: -15px;

  @include breakpoint($small) {
    display: table-cell;
    width: 35%;
    border-spacing: 20px;
    position: relative;
    margin: 0;
  }
}

.rewards-section__wrapper {
  min-height: 250px;

  @include breakpoint($small) {
    min-height: 280px;
  }
}

.no-rewards_wrapper {
  display: block;
  text-align: center;
  padding: 30px 10%;
  p {
    font-size: 15px;
    margin-bottom: 20px;
    font-family: $body-font-primary-bold;
  }
}

.rewards-section__title {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-family: $header-font-primary;
  font-size: 18px;
  text-transform: uppercase;

  @include breakpoint($medium){
    font-size: 22px;
  }
}

.rewards-section__copy {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  font-family: $body-font-primary;
  font-size: 14px;
  color: $primary-colour;

  @include breakpoint($medium){
    font-size: 18px;
  }
}

.rewards-section__rewards-container {
  padding: 0;
  list-style: none;
  @include clearfix();

  @include breakpoint($small){
    width: 60%;
    margin: 0 auto;
  }

  @include breakpoint($medium){
    width: 50%;
  }
}

.reward-wrapper {
  position: relative;
  margin-bottom: 5px;
  width: 33.333%;
  float: left;

  &:before{
    content: "";
    display: block;
    padding-top: 100%;
  }

  @include breakpoint($small){
    width: 25%;
  }

  @include breakpoint($medium){
    width: 20%;
  }
}

.reward {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 2px;
  padding: 6px;
  border-radius: 100%;
  border: 2px solid $black;

  &--full{
    margin: 0;
    padding: 3px;
    border: none;
    background-size: contain;
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &--empty{
    background-color: #d8d8d8;
  }
}

.emtpy-table {
  width: 10px;
}


//   =====================================================================================
//   REWARD MODAL
//   =====================================================================================
.profile-reward-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 8000;
}

.profile-reward-modal {
  position: fixed;
  top: 50%;
  left: 2%;
  width: 96%;
  border: 3px solid $black;
  background-color: $primary-colour;
  z-index: 9000;
  @include transform(translateY(-50%));

  @include breakpoint($small){
    width: 60%;
    left: 20%;
  }

  @include breakpoint($medium){
    width: 40%;
    left: 30%;
  }
}

.profile-reward-modal__body,
.profile-reward-modal__header,
.profile-reward-modal__footer {
  position: relative;
  padding: 15px;
}

.profile-reward-modal__header {
  padding-right: 40px;
  border-bottom: 1px solid $black;
}

.profile-reward-modal__footer {
  border-top: 1px solid $black;

}

.profile-reward-modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;

  &:hover{
    cursor: pointer;
  }
}

.profile-reward-modal_wrapper {
  display: table-cell;
  vertical-align: middle;
  @include breakpoint($small) {
    display: inline-block;
  }
}

.profile-reward-modal__img {
  display: inline-block !important;
  transform: rotate(-8deg);
  vertical-align: middle;
  width: 70px !important;
  cursor: pointer;
}

.profile-reward-modal__reward-name {
  margin: 0;
  font-family: $header-font-primary;
  font-size: 24px;
  text-transform: uppercase;
  color: $red;
}


.profile-reward-modal__requirements,
.profile-reward-modal__reward-description {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  font-family: $body-font-primary;
  font-size: 18px;
}

.profile-reward-modal__button{
  display: block;
  min-width: 150px;
  margin: 0 auto;
  padding: 10px;
  font-family: $body-font-primary;
  font-size: 18px;
  text-transform: capitalize;
  border: none;
  background-color: $red;
  color: white;
  @include appearance(none);

  &:hover{
    cursor: pointer;
  }
}

.profile-reward-modal__voucher-container {
  position: relative;
  padding: 15px;
  min-height: 100px;
  width: 100%;
  background-color: $tertiary-colour;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 2px solid $primary-colour;
  }
}

.profile-reward-modal__voucher-copy,
.profile-reward-modal__voucher-number {
  text-align: center;
  color: $primary-colour;
}

.profile-reward-modal__voucher-copy {
  margin-bottom: 15px;
  font-family: $header-font-secondary;
  font-size: 18px;
}

.profile-reward-modal__voucher-number {
  margin: 0;
  font-family: $header-font-primary;
  font-size: 52px;
}

.profile-reward-modal__expiry-date {
  margin: 0;
  text-align: right;
  font-family: $body-font-primary;
  font-size: 18px;
  color: $black;
}

//   =====================================================================================
//   PROFILE PAGE - REWARD SECTION
//   =====================================================================================

.rewards-wrapper {
  padding-bottom: 15px;
}

.rewards-list_wrapper {
  list-style-type: none;
  display: block;
  padding: 0 20px;
  margin-bottom: 0;
  max-width: 500px;
  display: block;
  margin: 0 auto;

  @include breakpoint($small) {
    padding: 20px 20px 0;
  }
}

.reward_wrapper {
  display: table;
  table-layout: fixed;
  vertical-align: top;
  text-align: left;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  height: 85px;
  margin: 5px auto;

  @include breakpoint($small) {
    display: block;
    height: auto;
    text-align: center;
  }

  svg {
    display: table-cell;
    vertical-align: top;

    @include breakpoint($small) {
      left: 0;
      position: relative;
      display: inline-block;
      float: left;
      width: 25%;
      vertical-align: middle;
    }
  }
}

.reward-info_wrapper {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  width: 75%;

  @include breakpoint($small) {
    padding-left: 0;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
    line-height: 1.6;
    width: 65%;
  }
  span {
    display: block;
  }
}

.rewards-list_item {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba($black, .2);

  @include breakpoint($small) {
    margin-top: 10px;
  }
}

.reward_name{
  font-family: $header-font-primary;
  color: $black;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 25px;

  @include breakpoint($medium) {
    font-size: 22px;
  }
}

.reward_expiry-date {
  font-size: 12px;

  @include breakpoint($xx-small) {
    font-size: 13px;
  }
}

.reward_redeem a {
  font-size: 14px;
  color: $border-bottom-blue;
  border-bottom: 1px solid $border-bottom-blue;

  @include breakpoint($small) {
    font-size: 12px;
  }
}

.rewards_navigation-dots {
  display: block;
  text-align: center;
  padding: 20px 0;

  @include breakpoint($small) {
    display: none;
  }

  .dot {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid $underline-grey;
    margin-right: 10px;

    &.active {
      border: none;
      background-color: $primary-colour;
    }
  }
}

.rewards_pagination {
  display: block;
}

.rewards_pagination-wrapper {
  display: none;
  margin-bottom: 0;
  padding: 5px 20px;
  text-align: right;

  @include breakpoint($small) {
    display: block;
  }

  li {
    display: inline-block;
    padding-right: 10px;
    &:last-child {
      padding-right: 0;
    }
    a {
      color: $pagination-colour;
      font-size: 14px;
      border-bottom: 1px solid $pagination-colour;
      font-family: $header-font-secondary;
    }
  }
}

//   =====================================================================================
//   PROFILE PAGE - REWARD SECTION - OWL CAROUSEL CUSTOM
//   =====================================================================================

.pagination-wrapper {
  width: 100% !important;
}

.rewards-list_wrapper {
  width: 100%;

  @include breakpoint($small) {
    width: 280px;
    padding-top: 0;
  }
}

//   =====================================================================================
//   OWL CAROUSEL CUSTOM - STYLES MISSING IN INITAL OWL.THEME.CSS
//   =====================================================================================

.rewards-section {
  .owl-theme .owl-controls {
  text-align:center;
  -webkit-tap-highlight-color:transparent
  }

  .owl-item {
    display: inline-block !important;
  }

  .owl-controls {
    padding-bottom: 5px;
    margin-top: 5px;
  }

  .owl-theme .owl-controls .owl-nav [class*=owl-]{
  color:#fff;
  font-size:14px;
  margin:5px;
  padding:4px 7px;
  border: 1px solid #d6d6d6;
  display:inline-block;
  cursor:pointer;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px
  }

  .owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
  background:$primary-colour;
  color:#fff;
  text-decoration:none
  }

  .owl-theme .owl-controls .owl-nav .disabled{
  opacity:.5;
  cursor:default
  }

  .owl-theme .owl-dots .owl-dot{
  display:inline-block;
  zoom:1;
  *display:inline
  }

  .owl-theme .owl-dots .owl-dot span{
  width: 15px;
  height: 15px;
  margin: 5px 7px;
  border: 2px solid $red;
  display: block;
  -webkit-backface-visibility:visible;
  -webkit-transition:opacity 200ms ease;
  -moz-transition:opacity 200ms ease;
  -ms-transition:opacity 200ms ease;
  -o-transition:opacity 200ms ease;
  transition:opacity 200ms ease;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  }

  .owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
  background: $red;
  border: none;
  }
}
