//   =====================================================================================
//   TAB NAVIGATION
//   =====================================================================================
.profile__tab-nav{
  margin: 0;
  padding: 10px 30px;
  list-style: none;
  border-top: 3px solid $black;
  border-bottom: 3px solid $black;
  @include clearfix();
}

.profile__tab{
}

.profile__tab-link{
  padding: 0 10px !important;
  font-family: $header-font-primary;
  font-size: 18px;
  text-transform: uppercase;
  color: $black;
  background: none !important;
  border: none !important;

  .active > &{
    color: $primary-colour;
    border-bottom: 2px solid $secondary-colour !important;
  }

  &:hover,
  &:focus,
  &:active{
    outline: none;
    text-decoration: none;
    color: $primary-colour;
  }

  @include breakpoint($small){
  }
}

.profile__tab-content{
  padding: 10px 15px;
  margin-bottom: 15px;
}

.profile__tab-pane{
  display: none;
  font-family: $body-font-primary;

  &.active{
    display: block;
  }
}

.profile_tab-nav-wrapper{
  position: relative;
}

.tab-nav__left-arrow,
.tab-nav__right-arrow{
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 1;
  opacity: 1;
  cursor: pointer;
  @include transition(opacity .2s ease-out);

  &.is-hidden{
    opacity: 0;
  }

  i{
    position: relative;
    top: 50%;
    font-size: 22px;
    cursor: pointer;
    @include transform(translateY(-50%));
  }

  @include breakpoint(500px){
    display: none;
  }
}

.tab-nav__left-arrow{
  left: 0;
  padding-left: 5px;
}

.tab-nav__right-arrow{
  right: 0;
  padding-right: 5px;
}

.profile__tab-error{
  font-family: $body-font-primary;
  font-size: 18px;
  color: $red;
  text-align: center;

}