.wallet__no-cards-msg {
  margin: 0;
  text-align: center;
  font-family: $header-font-primary;
  font-size: 26px;
  color: $primary-colour;
  text-transform: uppercase;
}

.wallet__no-cards-icon{
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-size: 44px;
  color: $secondary-colour;
}

.wallet__card-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wallet__card {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 2px solid $black;

  @include breakpoint($small){
    padding-bottom: 10px;
  }
}

.card__card-info-wrapper {
  display: table;
  width: 100%;
  padding-bottom: 10px;

  @include breakpoint($small){
    display: inline-table;
    padding: 0;
    width: 55%;
  }
}

.card__default-tick {
  position: relative;
  display: table-cell;
  width: 15%;
  vertical-align: top;

  &.invisible {
    display: none;
  }

  i{
    font-size: 32px;
    color: $green;
    @include transform(rotate(-10deg));
  }

  @include breakpoint($small){
    width: calc(10% - 2px);
    vertical-align: middle;
  }
}

.card__card-info {
  display: table-cell;
  width: 85%;

  @include breakpoint($small) {
    padding-right: 10px;
    width: 90%;
  }
}

.card-info__card-name {
  text-transform: uppercase;
}

.card-info__card-no-wrapper,
.card-info__card-name-container{
  @include breakpoint($small){
    display: inline-block;
  }
}

.card-info__card-no-wrapper {
  @include breakpoint($small){
    width: calc(35% - 2%);
    vertical-align: top;
  }
}

.card-info__card-name-container {
  @include breakpoint($small){
    width: 65%;
  }
}


.card-info-label,
.card-info__last4digits{
  margin: 0;
  margin-bottom: 5px;
  font-family: $header-font-primary;
  font-size: 18px;
  text-transform: uppercase;
}

.card-info-label {
  @include breakpoint($small){
    margin-bottom: 10px;
  }
}

.card-info__last4digits{
  margin: 0 0 0 5px;
  vertical-align: middle;
  color: $secondary-colour;

  @include breakpoint($small){
    margin: 0;
    font-size: 22px;
    vertical-align: inherit;
  }
}

.card-info__last4digits,
.card-info__card-img{
  display: inline-block;
}

.card-info__card-img{
  width: 50px;
  height: auto;

  @include breakpoint($small){
    display: none;
  }
}

.card-info__img-number-wrapper {
  margin-bottom: 10px;
}

.card-info__card-name-edit-icon{
  font-size: 18px;
  cursor: pointer;
}

.card-info__card-name-input-wrapper {
  display: inline-block;
  position: relative;
  max-width: 100%;

  @include breakpoint($medium){
    width: 90%;
  }
}

.card-info__card-name-input {
  width: 100%;
  padding: 5px 34px 5px 5px;
  font-family: $body-font-primary;
  font-size: 14px;
  text-transform: uppercase;
  background-color: white;
  color: $black;
  border: 1px solid $black;
}

.card-info__card-name-input-label {
  position: absolute;
  right: 1px;
  top: 50%;
  margin: 0;
  font-family: $body-font-primary;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  color: $white;
  background-color: $tertiary-colour;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  @include transform(translateY(-50%));
}

.card__btn-wrapper {
  margin-bottom: 10px;
  @include clearfix();

  @include breakpoint($small){
    margin: 0;
    width: calc(45% - 2px);
    display: inline-table;
    vertical-align: text-bottom;
  }

  @include breakpoint($medium){
    text-align: right;
  }
}

.card__btn {
  padding: 5px;
  width: 48%;
  min-width: 100px;
  text-align: center;
  font-family: $header-font-primary;
  font-size: 18px;
  color: $white;
  border: none;
  @include appearance(none);

  @include breakpoint($medium){
    max-width: 180px;
  }
}

.card__default-card-btn {
  float: left;
  background-color: $tertiary-colour;

  &.is-default {
    background-color: $green;
  }
}

.card__delete-card-btn {
  float: right;
  background-color: $tertiary-colour;

  @include breakpoint($medium){
    margin-left: 15px;
  }
}

.card__default-card-btn,
.card__delete-card-btn {
  @include breakpoint($medium){
    float: none;
  }
}

//   =====================================================================================
//   PROFILE PAGE - WALLET SECTION
//   =====================================================================================

.wallet-section__title {
  border-bottom: 1px solid $black;
}

.wallet-section_no-cards {
  padding: 20px 10% 0;
  text-align: center;
  display: block;

  @include breakpoint($small) {
    padding: 30px 20px;
  }

  p {
    font-family: $body-font-primary-bold;
    font-size: 14px;
    margin-top: 10px;
  }
  hr {
    border: 1px solid $underline-grey;
  }
}

.wallet-section_user-cards {
  padding: 0 20px;
  max-width: 500px;
  display: block;
  margin: 0 auto;

  &.hidden {
    display: none;
  }

  @include breakpoint($small) {
    padding: 10px 20px;
  }
}

.wallet-section_add-card-btn {
  background-color: $red;
  max-width: 140px;
  border: none;
  font-size: 14px;
  color: $white;
  padding: 10px 37px;
  margin: 5px 0;
}

.wallet-section_card-container {
  padding: 0 0 20px;
  border-bottom: 1px solid rgba($black, .2);
  overflow: hidden;
  list-style: none;

  h2 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 18px;
    color: $red;
    font-family: $header-font-primary;
    text-transform: uppercase;
  }
}

.user-card_inner-container {
  display: block;
  font-size: 15px;
  vertical-align: middle;

  @include breakpoint($medium) {
    display: table-cell;
    width: 70%;
  }

  .visa-logo {
    display: inline-block;
    border: 1px solid $underline-grey;
    border-radius: 5px;
    vertical-align: middle;

    @include breakpoint($small) {
      margin-right: 10px;
    }
  }
}

.user-card_card-details {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;

  @include breakpoint($small) {
    padding-left: 0;
  }
}

.card-details_card-number,
.card-info__card-name-wrapper {
  font-family: $body-font-primary-bold;
  color: $black;
  font-size: 14px;
  display: block;
}

.card-details_card-number {
  p {
    margin-bottom: 0;
  }
}

.card-details_card-owner-name {
  text-transform: uppercase;
}

.pencil-logo {
  cursor: pointer;
  display: inline-block;
  margin-left: 15px;

  @include breakpoint($small) {
    margin-left: 5px;
    margin-top: -5px;
  }
}

.user-cards_wrapper {
  margin-top: 20px;

  @include breakpoint($small) {
    display: table;
    width: 100%;
  }
}

.btn-wrapper {
  text-align: center;
  width: 100%;
  display: block;
  margin: 20px auto 0;
  overflow: hidden;

  @include breakpoint($medium) {
    display: table-cell;
  }
}

.user-card_btn {
  width: 49%;
  font-size: 12px;
  border: none;
  color: $white;
  padding: 10px 20px;

  @include breakpoint($medium) {
    width: 100%;
    max-width: 120px;
  }
  .default-card_spinner {
    position: relative;
    margin: 0 auto;
    left: 0;
    width: 30px;
    height: 30px;
    border-left: 5px solid $white;
  }
}

.user-card_delete {
  background-color: $red;
  float: right;
}

.user-card_set-as-default {
  position: relative;
  background-color: $tertiary-colour;
  float: left;

  &.visible {
    display: inline-block;
  }

  &.hidden {
    display: none;
  }

  @include breakpoint($medium) {
    margin-bottom: 10px;
    float: right;
  }
}

.add-new-card_btn-wrapper {
  padding: 20px 0;
  text-align: center;
}

.add-new-card {
  background-color: $red;
  width: 150px;
  max-width: 150px;
}

//   =====================================================================================
//   ADD CARD SECTION - WALLET SECTION
//   =====================================================================================

.wallet-section {
  // min-height: 240px;
  @include breakpoint($small) {
    display: inline-block;
    border-bottom: 3px solid $primary-colour;
    float: right;
  }
}

.wallet-section_wrapper {
  min-height: 200px;
}

.add-new-card_fields-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 30px 30px;
  overflow: hidden;

  &.visible {
    display: block;
  }

  @include breakpoint($small) {
    padding: 30px 20px 20px;
  }
  h2 {
    font-size: 14px;
    font-family: $body-font-primary-bold;

    @include breakpoint($small) {
      display: inline-block;
    }
  }
}

.add-new-card_card-number-wrapper {
  @include breakpoint($small) {
    position: relative;
    margin-bottom: 5px;
  }
}

.add-new-card_expiry-wrapper {
  @include breakpoint($small) {
    position: relative;
  }
  .flypay-select__wrapper {
    display: inline-block;
  }
  .flypay-select {
    border: 1px solid $black;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.add-new-card_number-input {
  height: 40px;
  width: 220px;
  font-size: 16px;
  color: $black;
  padding-left: 5px;
  border: 1px solid $black !important;

  @include breakpoint($small) {
    width: 60%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.add-new-card_date-selectors-wrapper {
  display: inline-block;

  @include breakpoint($small) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.add-new-card_month-select-wrapper {
  padding-right: 10px;
  &:before {
    right: 0;
    left: 36px;
  }
}

.add-new-card_year-select-wrapper {
  &:before {
    right: 0;
    left: 52px;
  }
}

.add-new-card_make-default-wrapper {
  margin-top: 10px;
  position: relative;

  @include breakpoint($small) {
    margin-top: 0;
  }
}

.add-new-card_make-default-title {
  margin-right: 15px;
}

.make-default_checkbox,
.add-new-card_make-default-title {
  display: inline-block;
}

.make-default_checkbox {
  @include breakpoint($small) {
    position: absolute;
    top: 10px;
    right: 0;
    margin: 0;
  }
}

.add-new-card_save-card-wrapper {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

.add-new-card_verifone-wrapper {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.add-new-card_verifone-text,
.btn-save,
.btn-cancel {
  display: inline-block;
  vertical-align: middle;
}

.add-new-card_verifone-text {
  margin: 0;
  position: absolute;
  left: 0;
  text-align: left;
  vertical-align: middle;
  width: 75px;
  svg {
    display: block;
  }
}

.btn-save,
.btn-cancel {
  font-size: 12px;
}

.btn-save {
  width: 90px;
  color: $white;
  background-color: $tertiary-colour;
  border: none;
  padding: 10px 0;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  &:disabled {
    background-color: rgba(0,0,0,0.2);
  }
}

.btn-cancel {
  cursor: pointer;
  padding: 0;
  color: $red;
  border: none;
  border-bottom: 1px solid $red;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 30px;

  &:hover {
    color: $primary-colour;
  }
}

.update-card-name_spinner,
.set-as-default_spinner {
  width: 25px;
  height: 25px;
  border-top: 4px solid rgba(0,0,0,0.2);
  border-right: 4px solid rgba(0,0,0,0.2);
  border-bottom: 4px solid rgba(0,0,0,0.2);
  border-left:4px solid $white;
}

.update-card-name_spinner {
  margin-top: -13px;
  left: 90%;
}

.set-as-default_spinner {
  margin-top: -13px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#addNewCardForm {
  .flypay-select {
    &.valid {
      border: 1px solid #7ABB4D !important;
    }
    &.invalid {
      border: 1px solid red !important;
    }
  }
}
